body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    color: #446378;
    
    
}

p{
    font-size: 20px;
    line-height: 2;
    
}

a:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.btn{
    font-size: 24px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 5px;
    display: inline-block;
    background-color: #ffffffff;
    color: black;
    margin-top: 20px;
}

.btn:hover{
    color: coral;
}
.navbar{
    min-height: 100px;
    background-color: #111111;
  
    
}

.nav-link{
    color: black;
    background-color: #efebda;
    margin: 0 10px 0 10px;
    border-radius: 5px;
   
}
.nav-link:hover{
    color:coral
}

.logo-nav{
    min-width: 100px;
    max-width: 130px;
    height: 100px;
}

.navbar-toggler:focus{
    outline: none;
}

#ImagenPrincipal{
    background-image: url("assets/multimedia/imagen-principal.jpg");
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    margin-top: px;
    color: white;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    padding: 30px;
}

.color{
    color: cyan;
}

.productos-container{
    position: relative;
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 10px;
   
}

.productos-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: 0.8s;
}


.productos-container:hover img{
    -moz-transform:scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.productos-detalles{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.productos-detalles a h2, .productos-detalles p{
    color: black;
    font-size: 30px;
    background-color: coral;
   
    
}



.bgc-about{
    background-color: coral;
    margin-top: 40px;
}

.h2-about{
    color: #446378;
}

.logo-about{
    height: 100px;
    width: 100px;
}

.top-margin-sm{
    margin-top: 30px;
}


.form-control{
    font-size: 14px;
    border: 1px solid;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:focus{
    border: 1px solid coral;
    outline: none;
    box-shadow: none;
}



#footer{
    padding: 50px 0;
    text-align: center;
    color: #111111;
}

#footer a{
    color: #111111;
}

#footer a:hover{
    color: #111111;
    text-decoration: underline;
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}


/* Tablas */

.galeria {
    padding: 80px 0;
    background-color: #111111;

}

.galeria img{
    max-width: 100%;
    background-color: coral;
    padding: 15px;
}

.h1-tabla{
    text-align: center;
    padding: 15px ;
    
}

.h2-tablas{
    text-align: center;
    color: #ffffffff;
    background-color: coral;
    border-radius: 30px;
}


.tamañoslide{
    width: 500px;
    margin: auto;
    background-color: coral;
}

.container1{
    background-image:url("assets/multimedia/campera\ nueva.jpg")
}

.container2{
    background-image:url("assets/multimedia/bosque.jpg");
    background-size: cover;
}
.h5-tablas{
    font-size: 25px;
    color: #ffffffff;
    background-color: #446378;
    border-radius: 15px;
}


@media (max-width: 575.98px) {
    h1{
        font-size:40px;
    }
    .nav-link{
        text-align: center;
        border-radius: 0px;
    }

}


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) { }


@media (max-width: 1199.98px) {}

